<!DOCTYPE html>
<html>
   <head>
      <title>The Materialize Example</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>     
      <script>
          $(document).ready(function()
          {
                var total;
                var jumlahtotal=0;
                $('td:nth-child(5)').each(function()
                {
                    total=$(this).html();
                    jumlahtotal+=parseInt(total);
                    $('#jumtotal').text(jumlahtotal);
                });
          });
      </script>  
   </head>
   
   <body>
        <nav class="center blue accent-2">Penjualan Tunai</nav><br>
        <div class="container">
            <!-- <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons">delete_forever</i></a> -->
            <a class="btn-floating btn-small waves-effect waves-light blue right" href="/penjualan1"><i class="material-icons">add</i></a>
        </div>
        <div class="container">
            <table class="highlight responsive-table">
                <thead>
                <tr>
                    <th>Pilih</th>
                    <th class="center">Tanggal</th>
                    <th class="center">Barang</th>
                    <th class="center">Harga</th>
                    <th class="center">Kuantitas</th>
                    <th class="center">Jumlah</th>
                    <th class="center">Catatan</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                    {% for d in data %}
                        <tr>
                            <td>
                                <a class="btn-floating btn-small waves-effect waves-light green right" href="/{{d.id}}/edit_p_tunai"><i class="material-icons">edit</i></a>
                            </td>
                            <td class="center">{{d.tanggal}}</td>
                            <td class="center">{{d.barang}}</td>
                            <td class="center">Rp {{d.barang.harga_jual}}</td>
                            <td class="center">{{d.kuantitas}}</td>
                            <td class="right">Rp {{d.total}}</td>
                            <td class="center">{{d.catatan}}</td>
                            <td>
                                <a class="btn-floating btn-small waves-effect waves-light red right" href="/{{d.id}}/hapus1"><i class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <thead class="blue lighten-3">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Uang diterima</th>
                        <th></th>
                        <th></th>
                        <td class="right">Rp {{total}}</td>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
       </div>

   </body>
</html>