
<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
	<title>Login V12</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}" >
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}" >
<!--===============================================================================================-->

	<link href="{% static 'css/util.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">

<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/static/images/img-01.jpg');">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form  method="POST" action="">
					<div class="login100-form-avatar">
						<img src="{% static 'images/1.png' %}"  alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						MASUK
					</span>
						
							{% csrf_token %}
							<div class="wrap-input100 validate-input m-b-10" data-validate = "Masukkan nama pengguna">
								<input class="input100" type="text" name="username" placeholder="Nomor telepon">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-user"></i>
								</span>
							</div>
		
							<div class="wrap-input100 validate-input m-b-10" data-validate = "Masukkan password">
								<input class="input100" type="password" name="password" placeholder="Password">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-lock"></i>
								</span>
							</div>
		
							<div class="container-login100-form-btn p-t-10">
								<button class="login100-form-btn" type="submit">
									Masuk
								</button>
							</div>
						

					<div class="text-center w-full p-t-25 p-b-230">Belum punya akun?
						<a class="txt1" href="{% url 'register' %}">
							 Buat akun
						</a>
					</div>

					<div class="text-center w-full">
						<a href="#" class="txt1">
							Forgot Username / Password?
							<i class="fa fa-long-arrow-right"></i>						
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}" ></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}" ></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" ></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}" ></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}" ></script>

</body>
</html>