<!DOCTYPE html>
<html lang="en"> 
	<head>
		<title>Todo List</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	  </head>
	  <body>
		
	  <div class="container">
		<h1>Todo List</h1><br>
	  <div class="container">
		<label for="nama">Tambah Task</label>
		<input type="text" class="form-control">
		<button type="button" class="btn btn-primary">Tambah</button>
	  </div>
	  <br>

	  <div class="container">          
		<table class="table">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>Task</th>
			  <th>Status</th>
			  <th>Action</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td>1</td>
			  <td>Task ke 1</td>
			  <td>Done</td>
			  <td><button type="button" class="btn btn-success btn-sm">Detail</button>
				<button type="button" class="btn btn-warning btn-sm">Edit</button>
				<button type="button" class="btn btn-danger btn-sm">Hapus</button>
			 </td>
			</tr>
			<tr>
			  <td>2</td>
			  <td>Task ke 2</td>
			  <td>Done</td>
			  <td><button type="button" class="btn btn-success btn-sm">Detail</button>
				<button type="button" class="btn btn-warning btn-sm">Edit</button>
				<button type="button" class="btn btn-danger btn-sm">Hapus</button>
			 </td>
			</tr>
			<tr>
			  <td>3</td>
			  <td>Task ke 3</td>
			  <td>Done</td>
			  <td><button type="button" class="btn btn-success btn-sm">Detail</button>
				 <button type="button" class="btn btn-warning btn-sm">Edit</button>
				 <button type="button" class="btn btn-danger btn-sm">Hapus</button>
			  </td>
			</tr>
			<tr>
				<td>4</td>
				<td>Task ke 4</td>
				<td>Done</td>
				<td><button type="button" class="btn btn-success btn-sm">Detail</button>
				   <button type="button" class="btn btn-warning btn-sm">Edit</button>
				   <button type="button" class="btn btn-danger btn-sm">Hapus</button>
				</td>
			  </tr>
			  <tr>
				<td>5</td>
				<td>Task ke 5</td>
				<td>Done</td>
				<td><button type="button" class="btn btn-success btn-sm">Detail</button>
				   <button type="button" class="btn btn-warning btn-sm">Edit</button>
				   <button type="button" class="btn btn-danger btn-sm">Hapus</button>
				</td>
			  </tr>
		  </tbody>
		</table>
	  </div>
	  </body>
</html> 