<!DOCTYPE html>
<html>
   <head>
        <title>The Materialize Example</title>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
        <link rel = "stylesheet"
            href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel = "stylesheet"
            href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script type = "text/javascript"
            src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
        </script>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Penjualan</title>
   </head>
   
   <body>
       <div class="card container">     
        <!-- Header -->
                        <div class="row" >
                            <div class=" card-header text-center col-sm" >
                                <h1 class="card-title" >Penjualan Tunai</h1><br>
                            </div>
                        </div>
        <!-- End Header -->
        
        <!-- Content -->

            <div class="container">
                <!-- <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons">delete_forever</i></a> -->
                <a class="btn-floating btn-small waves-effect waves-light blue right" href="input-penjualan/"><i class="material-icons" >add</i></a>
            </div>
            <!-- Table -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="table-responsive">
                                    <table class="table table-hover mt-3 text-center">
                                        <thead>
                                            <tr>  
                                                <th scope="col">Pilih</th>
                                                <th scope="col">Tanggal</th>
                                                <th scope="col">Keterangan</th>
                                                <th scope="col">Jumlah</th>
                                                <th scope="col">Catatan</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in penjualan %}
                                            <tr>
                                                <td>
                                                    <form action="#">
                                                        <p>
                                                        <label>
                                                            <input type="checkbox" />
                                                            <span></span>
                                                        </label>
                                                        </p>
                                                    </form>
                                                </td>
                                                <td>{{p.tanggal}}</td>
                                                <td>{{p.keterangan}}</td>
                                                <td>Rp. {{p.jumlah}}</td>
                                                <td>{{p.catatan}}</td>
                                                <td>
                                                    <!-- <a class="btn btn-sm btn-success" href="{{p.id}}/read-penjualan">Detail</a> -->
                                                    
                                                    <a class="btn-floating btn-small waves-effect waves-light red right" href="{{p.id}}/delete-penjualan">
                                                        <i class="material-icons">delete_forever</i>
                                                    </a>   
                                                    <a class="btn-floating btn-small waves-effect waves-light green right"  href="{{p.id}}/update-penjualan">
                                                        <i class="material-icons"></i>
                                                    </a>         

                                                    <!-- <a class="btn btn-sm btn-warning" href="{{p.id}}/update-penjualan">Edit</a>
                                                    <a class="btn btn-sm btn-danger"  href="{{p.id}}/delete-penjualan">Delete</a> -->
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <thead class="blue lighten-3">
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th>Uang diterima</th>
                                                <th>Rp 910.000</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
        
        <!-- End Content -->
        
        
        <!-- Footer -->
                    <div class="card-footer text-muted text-center">
                        By Kelompok Tiga
                    </div>
        <!-- End Footer -->
                </div>
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

   </body>
</html>