<!DOCTYPE html>
<html>
   <head>
      <title>The Materialize Example</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>             
   </head>
   
   <body>
        <nav class="center deep-orange">Pembelian Tunai</nav><br>
        <div class="container">
            <!-- <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons">delete_forever</i></a> -->
            <a class="btn-floating btn-small waves-effect waves-light blue right" href="/pem_tunaiv"><i class="material-icons">add</i></a>
        </div>
        <div class="container">
            <table class="highlight responsive-table">
                <thead>
                <tr>
                    <th></th>
                    <th class="center">Tanggal</th>
                    <th class="center">Keterangan</th>
                    <th class="center">Jumlah</th>
                    <th class="center">Catatan</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                    {% for d in data %}
                        <tr>
                            <td>
                                <a class="btn-floating btn-small waves-effect waves-light green left" href="/{{d.id}}/edit_pem_tunai"><i class="material-icons">edit</i></a>            

                            </td>
                            <td class="center">{{d.tanggal}}</td>
                            <td  class="center">{{d.keterangan}}</td>
                            <td class="right">Rp {{d.jumlah}}</td>
                            <td class="center">{{d.catatan}}</td>
                            <td>
                                <a class="btn-floating btn-small waves-effect waves-light red right" href="/{{d.id}}/hapus5"><i class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <thead class="orange accent-2">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Uang dibayasasar</th>
                        <th>Rp {{jum_pem}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
       </div>

   </body>
</html>