table, td {
  border: 1px solid rgb(223, 223, 223)05);
  border-collapse: collapse;
}

table{
    width: 100%;
    text-align: center;
}

#td1{
    background-color: rgb(156, 222, 253);
}

th, td {
    padding: px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: rgb(34, 179, 247);
  color: white;
}
