<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CK - Penjualan Tunai</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/table.css' %}" rel="stylesheet">
  <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
  <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="  https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  


  
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-clipboard-list"></i>
        </div>
        <div class="sidebar-brand-text mx-3">CATATAN KEUANGAN</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-clipboard-list"></i>
          <span>Uang Masuk</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/penjualan_tunai">Penjualan</a>
            <a class="collapse-item" href="/piutang">Piutang</a>
            <a class="collapse-item" href="/utang">Utang</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-clipboard-list"></i>
          <span>Uang Keluar</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/pembelian_tunai">Pembelian</a>
            <a class="collapse-item" href="/pembayaran_utang">Pembayaran Utang</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsekeperluan" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="far fa-handshake"></i>
          <span>Keperluan</span>
        </a>
        <div id="collapsekeperluan" class="collapse" aria-labelledby="headingkeperluan" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/lr">Arus Kas</a>
            <a class="collapse-item" href="utilities-border.html">Daftar Pemasok</a>
            <a class="collapse-item" href="/barang">Daftar Barang Dijual</a>
            <a class="collapse-item" href="utilities-other.html">Satuan Unit</a>
          </div>
        </div>
      </li>
      <!-- Divider -->

      <!-- Heading -->
      
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="nav navbar-nav navbar-center" >
            <div>
              <h4>PEMBAYARAN UTANG</h4>      
            </div>

          </ul>
        </nav>
   
   <body>

        <br>
        <div class="accordion md-accordion">
            
          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div  class="card-header" style="background:rgb(39, 118, 74); " >
                <h5 class="mb-2">
                  <div class="row" style="color: white; font-size: medium; " align="center">

                    <div class="col-sm">Saldo Utang : Rp {{jumlah1}}</div>

                    <div class="col-sm">Uang Dibayar : Rp {{jumlah2}}</div>

                  </div>
                </h5>
            </div>
          </div>
        </div>
        {% for d in data %}            <!--Accordion wrapper-->
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="false">
            
            <!-- Accordion card -->
            <div class="card">

              <!-- Card header -->
              <div class="card-header" role="tab" id="heading{{d.id}}" style="background:mediumseagreen;">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse{{d.id}}" aria-expanded="false"
                  aria-controls="collapse{{d.id}}">
                  <h5 class="mb-0">
                    <div class="row" style="color: white; font-size: medium;" >
                      <div class="col-sm-6">{{d.tanggal}}</div>
                      <div class="col-sm-6">Saldo : Rp {{d.saldo}}</div>
                    </div>
                  </h5>
                </a>
              </div>


              <!-- Card body -->
              <div id="collapse{{d.id}}" class="collapse " role="tabpanel" aria-labelledby="heading{{d.id}}" data-parent="#accordionEx">
                <div class="card-body">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col">ID</div>
                      <div class="col-lg-9 col-md-9 col">: Utg-{{d.id}}</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col">Bayar</div>
                      <div class="col-lg-9 col-md-9 col">: Rp {{d.dibayar}}</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col">Utang</div>
                      <div class="col-lg-9 col-md-9 col">: Rp {{d.jumlah}}</div>
                    </div>
                  </li>
                  <li class="center list-group-item">
                    <div class="row">
                      <div class="col-lg-1 col-md-2 col">
                        <a class="btn btn-outline-success" href="" data-toggle="modal" data-target="#editModal1{{d.id}}">Bayar</a>
                        <div class="container">
                          <!-- Modal -->
                          <div class="modal fade" id="editModal1{{d.id}}" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">Edit Pendapatan</h4>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
  
                                </div>
                                <div class="modal-body">
                                  <form action="/{{d.id}}/edit_butang/" method="POST" class="mt-3">
                                   
                                    {% csrf_token %}
                                    
                                    <table class="table mt-3">
                                        <tr>
                                          <td>ID</td>
                                          <td>{{d.id}}</td>
                                        </tr>
                                        <tr> 
                                          <td>Tanggal Transaksi</td>
                                          <td>{{d.tanggal}}</td>
                                        </tr>
                                          <tr>
                                              <td>Bayar</td>
                                              <td>
                                              <input type="number" name="dibayar" value="{{d.dibayar}}" class="form-control">
                                              </td>
                                          </tr>

                                        </table>
                                    <br>
                                    <button class="btn btn-primary btn-xs">Update</button>
                                  </form>
                          
                                </div>
                                <div class="modal-footer">
                                </div>
                              </div>                          
                            </div>
                          </div>                      
                        </div>
                      </div>
                    </div>
                    <!-- Primary raised circle button with ripple effect -->
                    
                    

                  </li>
                </div>
              </div>

            </div>
          </div>
        {% endfor %}
        {% for d in data2 %}            <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="false">
          
          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="heading1{{d.id}}" style="background:mediumseagreen;">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse1{{d.id}}" aria-expanded="false"
                aria-controls="collapse1{{d.id}}">
                <h5 class="mb-0">
                  <div class="row" style="color: white; font-size: medium;" >
                    <div class="col-sm-6">{{d.tanggal}}</div>
                    <div class="col-sm-6">Saldo : Rp {{d.saldo}}</div>
                  </div>
                </h5>
              </a>
            </div>


            <!-- Card body -->
            <div id="collapse1{{d.id}}" class="collapse " role="tabpanel" aria-labelledby="heading1{{d.id}}" data-parent="#accordionEx">
              <div class="card-body">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col">ID</div>
                    <div class="col-lg-9 col-md-9 col">: Umm-{{d.id}}</div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col">Bayar</div>
                    <div class="col-lg-9 col-md-9 col">: Rp {{d.dibayar}}</div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col">Piutang</div>
                    <div class="col-lg-9 col-md-9 col">: Rp {{d.utang}}</div>
                  </div>
                </li>
                <li class="center list-group-item">
                  <div class="row">
                    <div class="col-lg-1 col-md-2 col">
                      <a class="btn btn-outline-success" href="" data-toggle="modal" data-target="#editModal1{{d.id}}">Bayar</a>
                      <div class="container">
                        <!-- Modal -->
                        <div class="modal fade" id="editModal1{{d.id}}" role="dialog">
                          <div class="modal-dialog">
                          
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">Edit Pendapatan</h4>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>

                              </div>
                              <div class="modal-body">
                                <form action="/{{d.id}}/edit_butang3/" method="POST" class="mt-3">
                                 
                                  {% csrf_token %}
                                  
                                  <table class="table mt-3">
                                      <tr>
                                        <td>ID</td>
                                        <td>{{d.id}}</td>
                                      </tr>
                                      <tr> 
                                        <td>Tanggal Transaksi</td>
                                        <td>{{d.tanggal}}</td>
                                      </tr>
                                        <tr>
                                            <td>Bayar</td>
                                            <td>
                                            <input type="number" name="dibayar" value="{{d.dibayar}}" class="form-control">
                                            </td>
                                        </tr>

                                      </table>
                                  <br>
                                  <button class="btn btn-primary btn-xs">Update</button>
                                </form>
                        
                              </div>
                              <div class="modal-footer">
                              </div>
                            </div>                          
                          </div>
                        </div>                      
                      </div>
                    </div>
                  </div>
                  <!-- Primary raised circle button with ripple effect -->
                  
                  

                </li>
              </div>
            </div>

          </div>
        </div>
      {% endfor %}
      {% for d in data1 %}            <!--Accordion wrapper-->
      <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="false">
        
        <!-- Accordion card -->
        <div class="card">

          <!-- Card header -->
          <div class="card-header" role="tab" id="heading1{{d.id}}" style="background:mediumseagreen;">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse2{{d.id}}" aria-expanded="false"
              aria-controls="collapse2{{d.id}}">
              <h5 class="mb-0">
                <div class="row" style="color: white; font-size: medium;" >
                  <div class="col-sm-6">{{d.tanggal}}</div>
                  <div class="col-sm-6">Saldo : Rp {{d.saldo1}}</div>
                </div>
              </h5>
            </a>
          </div>


          <!-- Card body -->
          <div id="collapse2{{d.id}}" class="collapse " role="tabpanel" aria-labelledby="heading2{{d.id}}" data-parent="#accordionEx">
            <div class="card-body">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col">ID</div>
                  <div class="col-lg-9 col-md-9 col">: PB-{{d.id}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col">Bayar</div>
                  <div class="col-lg-9 col-md-9 col">: Rp {{d.dibayar1}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col">Piutang</div>
                  <div class="col-lg-9 col-md-9 col">: Rp {{d.utang}}</div>
                </div>
              </li>
              <li class="center list-group-item">
                <div class="row">
                  <div class="col-lg-1 col-md-2 col">
                    <a class="btn btn-outline-success" href="" data-toggle="modal" data-target="#editModal2{{d.id}}">Bayar</a>
                    <div class="container">
                      <!-- Modal -->
                      <div class="modal fade" id="editModal2{{d.id}}" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Edit Pendapatan</h4>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>

                            </div>
                            <div class="modal-body">
                              <form action="/{{d.id}}/edit_butang1/" method="POST" class="mt-3">
                               
                                {% csrf_token %}
                                
                                <table class="table mt-3">
                                    <tr>
                                      <td>ID</td>
                                      <td>{{d.id}}</td>
                                    </tr>
                                    <tr> 
                                      <td>Tanggal Transaksi</td>
                                      <td>{{d.tanggal}}</td>
                                    </tr>
                                      <tr>
                                          <td>Bayar</td>
                                          <td>
                                          <input type="number" name="dibayar1" value="{{d.dibayar1}}" class="form-control">
                                          </td>
                                      </tr>

                                    </table>
                                <br>
                                <button class="btn btn-primary btn-xs">Update</button>
                              </form>
                      
                            </div>
                            <div class="modal-footer">
                            </div>
                          </div>                          
                        </div>
                      </div>                      
                    </div>
                  </div>
                </div>
                <!-- Primary raised circle button with ripple effect -->
                
                

              </li>
            </div>
          </div>

        </div>
      </div>
    {% endfor %}
      </div>
    </div>
  </div>
</div>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
{{ form.media }} 
</body>

</html>
