<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    a {
      width: 100%;
      height: 100px;
      text-align: center;
    }
  </style>
</head>
<body>

<div class="background-color">
  <div class="container text-center">
    <h1>Buyings</h1>      
    <p>Some text that represents "Me"...</p>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3>Some of my Work</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <a type="button" class="btn btn-default"></a>
    </div>
    <div class="col-sm-3"> 
      <a type="button" class="btn btn-default" href="{% url 'supplier' %}">Suppliers</a>
    </div>
    <div class="col-sm-3"> 
      <a type="button" class="btn btn-default" href="{% url 'item' %}">Items</a>
    </div>
    <div class="col-sm-3">
      <a type="button" class="btn btn-default"></a>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3">
      <a type="button" class="btn btn-default"></a>
    </div>
    <div class="col-sm-3"> 
      <a type="button" class="btn btn-default"></a>
    </div>
    <div class="col-sm-3"> 
      <a type="button" class="btn btn-default"></a>
    </div>
    <div class="col-sm-3">
      <a type="button" class="btn btn-default"></a>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p></p>
</footer>

</body>
</html>