<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Hutang</title>
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" href='#'>
                Praxis Academy
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/penjualan">Penjualan<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="/biaya">Biaya</a>
                        <a class="nav-link active" href="/hutang">Hutang</a>
                    </div>
                </div>
            </a>
        </nav>


        <div class="card container">     
<!-- Header -->
                <div class="row" >
                    <div class=" card-header text-center col-sm" >
                        <h1 class="card-title" >Hutang</h1><br>
                    </div>
                </div>
<!-- End Header -->

<!-- Content -->
    <!-- Form -->
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <form method="POST" action="" class="row mt-3">
                            {% load crispy_forms_tags %}
                            
                            {% csrf_token %}

                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>        
    <!-- End Form -->

    <!-- Table -->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table class="table table-hover mt-3 text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tanggal</th>
                                        <th scope="col">Keterangan</th>
                                        <th scope="col">jumlah</th>
                                        <th scope="col">Catatan</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for h in hutang %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{h.tanggal}}</td>
                                        <td>{{h.keterangan}}</td>
                                        <td>Rp. {{h.jumlah}}</td>
                                        <td>{{h.catatan}}</td>
                                        <td>
                                            <a class="btn btn-sm btn-success" href="/hutang/{{h.id}}/read-hutang">Detail</a>
                                            <a class="btn btn-sm btn-warning" href="/hutang/{{h.id}}/update-hutang">Edit</a>
                                            <a class="btn btn-sm btn-danger"  href="/hutang/{{h.id}}/delete-hutang">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

<!-- End Content -->


<!-- Footer -->
            <div class="card-footer text-muted text-center">
                By Atko45 Studio
            </div>
<!-- End Footer -->
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
